body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
body{
    background:#edeff0;
    color:#777;
    /*margin:0;*/
    /*padding:0;*/
    /*position:fixed;*/
    /*top:0;*/
    /*left: 0;*/
}

.container{
    margin: 0;
    padding: 0;
}

.img-artwork{
    width: 100%;
    height: auto;
    border-radius:5px;
}
.img-box{
    padding: 35px 0 20px 0
}

.img-modal-show{
    width: 100%;
    height: auto;
}

.gallery-node{
    background-color: #ffffff;
    /*padding: 20px;*/
    margin-right: 0px;
    margin-left: 0px;
    /*border-radius:5px;*/
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    /*position: relative;*/
    /*left: 15px;*/
    /*right:15px;*/
    /*z-index: 100000;*/
}