<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title></title>
</head>
<style>
body {
  font-family: Verdana;
  font-size: small;
}
canvas {
  cursor: pointer;
  border: 1px solid black;
}

</style>

{#<script src="/static/js/similar_color.js"></script>#}
<script src="/static/js/active_circle.js"></script>

<body>

    <div class="background" style="background-image: url(http://avatar.csdn.net/F/7/B/1_sadfishsc.jpg); width: 200px; height: 200px;">

        <canvas id="canvas" width="200px" height="200px" style="width:100%;height:100%">
        </canvas>
    </div>


  <div>
{#    <button onclick="addRandomCircle()">Add Circle</button>#}
{#    <button onclick="clearCanvas()">Clear Canvas</button>#}
    <button >Add Circle</button>
    <button id="clear">Clear Canvas</button>
  </div>


</body>

</html>