<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title></title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/artwork_show.css" rel="stylesheet">
</head>
<script src="/static/jquery/jquery-2.1.3.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<body>
{#<body>#}



    <!-- 模态框（Modal） -->
    <div class="modal fade" id="img_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-show="true" data-backdrop="static">
       <div class="modal-dialog">
          <div class="modal-content">

             <div class="modal-header" >
                <div class="row clear ">
                    <div class="col-xs-3">
                        <span class="modal-title" id="myModalLabel">
                        <strong>F.X.</strong>
                    </span>
                    </div>
                    <div class="col-xs-9"  style="text-align:right">
                        <span>
                            <input type="checkbox" id="animation_radio_checkbox" /><span>交替动画</span>
                        </span>
                         <span>
{#                            <input type="checkbox" id="choice_radio_checkbox" /><span>原图</span>#}
                             <input type="radio" class="radioImg" name="img_check" value="0" ><span>原图</span>
                             <input type="radio" class="radioImg" name="img_check" value="1" ><span>字符画</span>
                             <input type="radio" class="radioImg" name="img_check" value="2" checked="true"  ><span>线稿</span>
                        </span>
                    </div>
                </div>


             </div>
             <div class="modal-body">
                    <a>

                        {% if origin_img %}
                            <img id="origin_img" src="{{origin_img}}" style="width:100%;height: auto;display: none" />
                        {% endif %}
                        {% if str_img %}
                            <img id="str_img" src="{{str_img}}" style="width:100%;height: auto;display: none" />
                        {% endif %}
                        {% if sketch_img %}
                            <img id="sketch_img" src="{{sketch_img}}" style="width:100%;height: auto;" />
                        {% endif %}

                        <canvas id="canvas_grid" width="0px" height="0px" class="layer-grid" style="display: none;"></canvas>
                        <canvas id="canvas_9_gong" width="0px" height="0px" class="layer-grid" style="display: none;"></canvas>
                    </a>
             </div>
             <div class="modal-footer">
                 <div class="row clear ">
                      <div class="col-xs-8">
                          <div style="text-align:left">
                              <span>辅格：</span>
                             <input type="radio" class="radioItem" name="gride_check" value="0" checked="true"><span>无</span>
                             <input type="radio" class="radioItem" name="gride_check" value="4"><span>方格</span>
                             <input type="radio" class="radioItem" name="gride_check" value="9"><span>九宫</span>
                         </div>
                      </div>
                      <div class="col-xs-4">
                          <a href="http://120.27.97.33:82/blog/gallery/?open_id={{ open_id}}">
                             <strong>私密画廊</strong>
                         <span class="glyphicon glyphicon-arrow-right"></span>
                 </a>
                      </div>
                 </div>
             </div>
          </div><!-- /.modal-content -->
       </div><!-- /.modal -->
    </div>
</body>

<script language="javascript" type="text/javascript">
    $('#img_modal').modal('show');

    var imgdefereds=[];
    $('img').each(function(){
         var dfd=$.Deferred();
         $(this).bind('load',function(){
            dfd.resolve();
         }).bind('error',function(){
         //图片加载错误，加入错误处理
         // dfd.resolve();
         })
         if(this.complete)
             setTimeout(function(){
                dfd.resolve();
             },1000);
         imgdefereds.push(dfd);
    });
    $.when.apply(null,imgdefereds).done(function(){
        ImgComplete();
    });

    function ImgComplete()
    {
        CanvasInit();
        DrawGrid();
        Draw9Gong();
    }

    function CanvasInit()
    {
        _c_width = $("#str_img").prop('width');
        _c_height  =  $("#str_img").prop('height');
        //方块格子
        $("#canvas_grid").prop('width',_c_width);
        $("#canvas_grid").prop('height',_c_height);
        //九宫
        $("#canvas_9_gong").prop('width',_c_width);
        $("#canvas_9_gong").prop('height',_c_height);
    }
    function DrawGrid()
    {
        var canvas = document.getElementById("canvas_grid");
        var context = canvas.getContext("2d");

        _line_list = GetLine(canvas.width,canvas.height);

        context.globalAlpha = 0.85;
        context.beginPath();
{#        context.arc(5, 10, 30, 0, Math.PI * 2);#}
        DrawLine(context,_line_list);
{#        context.fillStyle = "#204d74";#}
        context.strokeStyle = "#333";
        context.lineWidth = 1;
        context.fill();
        context.stroke();

        function GetLine(width,height)
        {
            numX = 4; //X方向格子数
            offX = width % numX / 2; //X方向的偏移量
            length = (width - offX * 2) / numX;  //格子长度
            numY = parseInt(height / length);  //Y方向数量
            offY = height % length / 2; //Y方向偏移量

            _lines = [];
            for (i=0;i<numY+1;i++) //横线
                _lines.push( [offX,offY + length*i,offX + length * numX , offY + length*i] )
            for (i=0;i<numX+1;i++) //竖线
                _lines.push( [offX + length * i,offY,offX + length * i , offY + length * numY] )
            return _lines
        }
        function DrawLine(context,lines)
        {
{#            context#}
            for (i=0;i<lines.length;i++)
            {
                context.moveTo(lines[i][0],lines[i][1]);
                context.lineTo(lines[i][2],lines[i][3]);

            }

        }
    }
    function Draw9Gong()
    {
        var canvas = document.getElementById("canvas_9_gong");
        var context = canvas.getContext("2d");

        _line_list = GetLine(canvas.width,canvas.height);
        context.globalAlpha = 0.85;
        context.beginPath();
        DrawLine(context,_line_list);
{#        context.fillStyle = "#204d74";#}
        context.strokeStyle = "#333";
        context.lineWidth = 1;
        context.fill();
        context.stroke();

        function GetLine(width,height)
        {
            _lines = [];
            h_1 = height/3;
            h_2 = height*2/3;
            w_1 = width/3;
            w_2 = width*2/3;
            _lines.push( [0,h_1 , width,h_1] );
            _lines.push( [0,h_2 , width,h_2] );
            _lines.push( [w_1 ,0 ,w_1 ,height ] );
            _lines.push( [w_2 ,0 ,w_2, height ] );
            return _lines
        }
        function DrawLine(context,lines)
        {
            for (i=0;i<lines.length;i++)
            {
                context.moveTo(lines[i][0],lines[i][1]);
                context.lineTo(lines[i][2],lines[i][3]);
            }
        }
    }
    $(".radioItem").change(function(){
        var _value = $("input[name='gride_check']:checked").val();
        $("#canvas_grid").css('display','none');
        $("#canvas_9_gong").css('display','none');
        if (_value == '4')
            $("#canvas_grid").css('display','');
        if (_value == '9')
            $("#canvas_9_gong").css('display','');
    });
    //字符画、原图、线稿 切换
{#    $("#choice_radio_checkbox").change(function() {#}
{#        var isChecked = $('#choice_radio_checkbox').is(':checked');#}
{#        $("#str_img").css('display','none');#}
{#        $("#origin_img").css('display','none');#}
{#        if( isChecked )  //选中，显示原图#}
{#            $("#origin_img").css('display','');#}
{#        else //未选中，显示字符画#}
{#            $("#str_img").css('display','');#}
{#    });#}
    $(".radioImg").change(function(){
        var _value = $("input[name='img_check']:checked").val();
        $("#str_img").css('display','none');
        $("#origin_img").css('display','none');
        $("#sketch_img").css('display','none');
        if (_value == '0')
             $("#origin_img").css('display','');
        if (_value == '1')
             $("#str_img").css('display','');
        if (_value == '2')
             $("#sketch_img").css('display','');
    });




    var animation_timer;
    var animation_sleep = 300;
    var animation_step = 0;
    //交替动画
    $("#animation_radio_checkbox").change(function() {
        var isChecked = $('#animation_radio_checkbox').is(':checked');
        if (isChecked)
        {
            animation_timer = window.setInterval("AnimationStrOrigin()",animation_sleep);
        }
        else
        {
            window.clearInterval(animation_timer);
        }
    });

    function AnimationStrOrigin()
    {
        _step = animation_step%4;
        animation_step++;
        if (_step == 0)
        {
            $("#str_img").css('display','none');
            $("#origin_img").css('display','');
        }
        else
        {
            $("#str_img").css('display','');
            $("#origin_img").css('display','none');
        }
    }

</script>



</html>
